# .gitignore file for a Python project, excluding common files and directories that should not be tracked by version control.
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db

# Virtual env
venv/
.env
.env.*

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

